:root {
    /* CSS HEX */
    --honeydew: #f1faeeff;
    --non-photo-blue: #a8dadcff;
    --cerulean: #457b9dff;
    --berkeley-blue: #1d3557ff; 
}

/* Fonts */

.eb-garamond {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Styles */

body {
    background-color: #f1faeeff;
}

header {
    background-color: #1d3557ff;
    padding: 20px;
    margin: 0 0 20px 0;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    margin-right: 10px;
}

header h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    color: #a8dadcff;
}

nav {
    margin-left: auto;
}

nav a {
    font-family: "EB Garamond", serif;
    font-size: 40px;
    color: black;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    color: #a8dadcff;
}

section h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
}

section p {
    font-family: "EB Garamond", serif;
}

footer img {
    width: 50px;
}

/* Class Selectors */

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: rgba(255, 253, 253, 0.5);
    margin: 20px 0px;
    padding: 10px;
    width: 1885px;
}

.hero img {
    width: 100%;
    max-width: 1885px;
    height: auto;
    margin: 2px;
    z-index: 0;
}

.hero article {
    font-family: "EB Garamond", serif;
    position: absolute;
    align-items: center;
    background-color: rgba(168, 218, 220, 0.733);
    padding: 1px;
    margin: 150px;
    width: 1500px;
    top: 1px;
    z-index: 1;
}

.hero h2 {
    text-align: center;
    font-size: 40px;
}

.hero p {
    text-align: center;
}

.hero article img {
    float: right;
    width: 200px;
}