:root {
    /* CSS HEX */
    --honeydew: #f1faeeff;
    --non-photo-blue: #a8dadcff;
    --cerulean: #457b9dff;
    --berkeley-blue: #1d3557ff; 
}

/* Fonts */

.eb-garamond {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Styles */

body {
    background-color: #f1faeeff;
    margin: 0;
}

header {
    top: 0;
    position: sticky;
    background-color: #1d3557ff;
    padding: 20px;
    margin: 0 0 5px 0;
    height: 80px;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    justify-content: space-between;
    z-index: 1000;
}

header img {
    width: 100px;
}

header img:hover {
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
}

header h1 {
    margin-top: 1rem;
    margin-left: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: #a8dadcff;
}

nav {
    display: flex;
    align-content: center;
    margin-top: 1rem;
    margin-left: auto;
}

nav a {
    font-family: "EB Garamond", serif;
    font-size: 30px;
    color: black;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    color: #a8dadcff;
}

h2 {
    font-family: "EB Garamond", serif;
    font-size: 40px;
    text-align: center;
}

section p {
    font-family: "EB Garamond", serif;
}

footer {
    background-color: #457b9dff;
    padding: 10px;
}

footer img {
    width: 50px;
}

footer a {
    text-decoration: none;
}

footer div a img:hover {
    opacity: 0.5;
}

/* Class Selectors About Us*/

.hero {
    position: relative;
    width: 100%;
}

.hero h1 {
    position: absolute;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: rgba(255, 253, 253, 0.5);
    margin: 0;
    padding: 10px;
    width: 100%;
}

.hero-div img{
    width: 100%;
    height: auto;
}

.hero-article {
    background-color: rgba(168, 218, 220, 0.733);
    font-family: "EB Garamond", serif;
    position: absolute;
    align-items: center;
    padding: 20px;
    width: 80%;
    top: 200px;
    right: 150px;
    z-index: 1;
}

.hero h2 {
    text-align: center;
    font-size: 40px;
}

.hero p {
    text-align: center;
    font-size: 30px;
}

.hero-article img {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 200px;
    border: solid 1px #1d3557ff;
}

.history {
    width: 100%;
    border-bottom: solid 1px #457b9dff;
    padding: 15px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.history p {
    margin: 100px;
    font-size: 20px;
}

.history img {
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border: solid 3px #457b9dff;
    box-shadow: 0 0 30px gray;
}

.history h2 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 1px;
}

.section-images {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-images figcaption {
    text-align: center;
    font-family: "EB Garamond", serif;
}

.image-container {
    margin: 10px;
    flex: 1 1 300px;
    max-width: 300px;
}

.image-container img{
    width: 200px;
    height: 220px;
}

.section-images img {
    width: 300px;
    border: solid 1px #1d3557ff;
}

.section-images img:hover {
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
}

.footer-info {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.social-media {
    display: flex;
    justify-content: flex-end;
}

/* Class Selectors Contact Us */

.contact {
    position: relative;
    width: 100%;
}

.contact-image {
    height: auto;
}

.contact h1 {
    position: absolute;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: rgba(255, 253, 253, 0.5);
    margin: 0;
    padding: 10px;
    width: 100%;
}

.contact-article img {
    float: right;
    width: 300px;
    border: solid 1px #1d3557ff;
    margin-top: 10px;
}

.contact-article {
    background-color: rgba(168, 218, 220, 0.733);
    font-family: "EB Garamond", serif;
    position: absolute;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    padding: 20px;
    width: 80%;
    top: 130px;
    right: 150px;
    z-index: 1;
}

.contact-article p {
    position: absolute;
    font-size: 20px;
    left: 250px;
    top: 150px;
}

.contact-image {
    width: 100%;
}