:root {
    /* CSS HEX */
    --honeydew: #f1faeeff;
    --non-photo-blue: #a8dadcff;
    --cerulean: #457b9dff;
    --berkeley-blue: #1d3557ff; 
}

* {
    box-sizing: border-box;
}


/* Fonts */

.eb-garamond {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Styles */

body {
    background-color: #f1faeeff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    top: 0;
    position: sticky;
    background-color: #1d3557ff;
    padding: 1px 0 20px 0;
    margin: 0;
    height: 80px;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    align-items: center;
    z-index: 1000;
}

header img {
    width: 100px; 
    margin-left: 5px; 
    padding: 0; 
    vertical-align: middle;
    border-radius: 50%;
}

header img:hover {
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
}

header h1 {
    margin: 0;
    padding: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: #a8dadcff;
}

nav {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: auto;
}

nav a {
    font-family: "EB Garamond", serif;
    font-size: 30px;
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    color: #a8dadcff;
}

h2 {
    font-family: "EB Garamond", serif;
    font-size: 40px;
    text-align: center;
}

section p {
    font-family: "EB Garamond", serif;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure figcaption {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: bold;
}

table {
    border: 1px solid #1d3557ff;
    width: 70%;
    margin-bottom: 100px;
    font-family: "EB Garamond", serif;
    justify-content: center;
}

table th, tr, td {
    border: 1px solid #1d3557ff;
    text-align: center;
}

table th {
    font-family: "Bebas Neue", sans-serif;
}

button {
    margin-top: 10px;
    width: 100px;
    background-color: #457b9dff;
    color: white;
}

button:hover {
    color: #a8dadcff;
}

footer {
    background-color: #457b9dff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 50px;
}

footer a {
    text-decoration: none;
}

footer div a img:hover {
    opacity: 0.5;
}

/* Class Selectors About Us*/

.hero {
    position: relative;
    width: 100%;
}

.hero h1 {
    position: absolute;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: rgba(255, 253, 253, 0.5);
    margin: 0;
    padding: 10px;
    width: 100%;
}

.hero-div img{
    width: 100%;
    height: auto;
}

.hero-article {
    background-color: rgba(168, 218, 220, 0.918);
    font-family: "EB Garamond", serif;
    position: absolute;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    margin: 100px 140px auto;
    padding: 50px;
    width: 80%;
    top: 130px;
    z-index: 1;
}

.hero-article p {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-size: 25px;
}

.hero h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}

.hero-article img {
    float: right;
    position: absolute;
    right: 10px;
    width: 250px;
    margin-right: 10px;
    border: solid 1px #1d3557ff;
}

.history {
    width: 100%;
    border-bottom: solid 1px #457b9dff;
    padding: 15px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.history p {
    margin: 100px;
    font-size: 20px;
    font-family: "EB Garamond", serif;
}

.history img {
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border: solid 3px #457b9dff;
    box-shadow: 0 0 30px gray;
}

.history h2 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 1px;
}

.section-images {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-container {
    margin: 10px;
    flex: 1 1 300px;
    max-width: 300px;
    font-family: "Bebas Neue", sans-serif;
    font-size: large;
    text-align: center;
}

.image-container img {
    width: 200px;
    height: 220px;
}

.section-images img {
    width: 300px;
    border: solid 1px #1d3557ff;
}

.footer-info {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    flex-grow: 1;
    margin-left: 150px;
}

/* Class Selectors Contact Us Page */

.info {
    font-family: "Bebas Neue", sans-serif;
    background-color: #457b9dff;
    text-align: center;
    padding: 5px;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 200px 100px 200px;
}

.information {
    width: 30%;
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    border: solid 1px #000;
}

.information h2 {
    font-size: 30px;
}

.information h3 {
    font-family: "Bebas Neue", sans-serif;
}

.information p {
    font-family: "EB Garamond", serif;
    font-size: large;
}

.info h2 {
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 2px;
}

.info p {
    font-family: "EB Garamond", serif;
    margin-top: 5px;
    font-size: 30px;
}

.images-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

form {
    width: auto;
    margin: auto;
    padding: 20px;
}

.field {
    font-family: "EB Garamond", serif;
    text-align: center;
}

.field button {
    font-size: 20px;
    width: 200px;
}

legend {
    font-family: "EB Garamond", serif;
    color: #1d3557ff;
    font-size: 30px;
}

.radio-option label {
    font-size: 25px;
}

label {
    font-size: 30px;
    margin-right: 10px;
}

input {
    padding: 10px;
    font-family: "EB Garamond", serif;
    font-size: 20px;
}

.form-item {
    display: grid;
    align-items: center;
}

.form-item p {
    font-size: larger;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
}

.name {
    grid-template-columns: 1fr 2fr;
    margin: 20px 0;
    font-weight: bold;
    width: 95%;
}

.name label {
    font-family: "Bebas Neue", sans-serif
}

.column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.textarea textarea {
    width: 900px;
    align-self: center;
    font-family: "EB Garamond", serif;
    font-size: 20px;
}

.textarea label {
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 30px;
}

.checkbox {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: "Bebas Neue", sans-serif;
}

.info-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.info-images img {
    width: 300px;
    border: solid 1px #1d3557ff;
}

.info-images img:hover {
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
}

/* Class Selectors for Home Page */

.fun {
    width: 80%;
    margin-left: 100px;
    display: grid;
}

.fun h3 {
    text-align: center;
    font-family: "EB Garamond", serif;
    font-size: 30px;
}

.fun p {
    font-family: "EB Garamond", serif;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.fun img {
    width: 600px;
    justify-self: center;
    border: solid 10px #a8dadcff;
}

.hero-article h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
}

.hero-article p {
    font-size: 30px;
}

.form h2 {
    font-family: "Bebas Neue", sans-serif;
}

.payment {
    padding: 50px;
}

.payment label {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
}

.payment select {
    padding: 10px;
    font-family: "EB Garamond", serif;
    font-size: 20px;
}

.hero-trips h2 {
    font-family: "EB Garamond", serif;
}

.hero-trips {
    position: relative;
    width: 100%;
}

.hero-div-trip {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    z-index: 0;
}

.hero-article-trips {
    background-color: rgba(168, 218, 220, 0.918);
    font-family: "EB Garamond", serif;
    position: absolute;
    margin: 70px auto;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.hero-article-text button {
    background-color: #a8dadcff;
    width: 200px;
    padding: 10px;
    font-family: "EB Garamond", serif;
    font-size: 30px;
    color: black;
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.last-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-bottom: 100px;
}

/* Class Selectors for Trips */

.trips-images img {
    width: 400px;
    margin: 0;
    padding: 0;
}

.trips-contact-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 200px 100px 200px;
}

.trips-information {
    width: 30%;
    display: grid;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    font-size: 20px;
    padding: 20px;
    border: solid 1px #000;
}

.information h2 {
    font-size: 30px;
}

.information p {
    font-family: "EB Garamond", serif;
    font-size: large;
}

.trips-table {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
}

.yes {
    color: green;
    font-weight: bold;
}

.no {
    color: red;
    font-weight: bold;
}