* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(221, 221, 204);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: steelblue;
}

nav {
    padding: 10px;
}

nav a {
    color: white;
    display: inline-block;
    padding: 20px;
}

main {
    width: auto;
    text-align: center;
    margin: 3rem auto;
}

h1 {
    color: steelblue;
    margin: 1px;
    border-bottom: dotted steelblue;
}

main img {
    float: right;
    width: 200px;
    height: auto;
    padding: 1px;
    margin: 0 0 1rem 1rem;
    border: solid 1px steelblue;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20em;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 30px;
    right: 80px;
}

aside img {
    width: 200px;
    margin: 10px;
    height: auto;
    border: solid 2px white;
    box-shadow: 0 0 20px gray;
}

p {
    padding: var(--padding);
}

footer {
    margin: auto;
    border-top: dotted 1px steelblue;
    text-align: center;
}

footer p {
    color: black;
    text-align: center;
}


/* Class Selectors */

.box {
    position: relative;
    list-style-type: none;
    width: 20em;
    margin: 6rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    text-align: center;
}

.info {
    width: 1000px;
    float: right;
    margin: 170px;
}

.info p {
    padding: 1rem;
    margin: 40px;
    font-weight: bold;
}