.callout {
    background-color: rgb(52, 52, 185);
    width: 38%;
    margin: 10px;
    border: 5px;
    padding: 10px;
	color: white
}

.callout img {
    float:right;
    padding: 0px;
    margin: 15px;
    border: solid 4px; color: rgb(230, 229, 171);
}

blockquote {
	margin: 5px;
    padding-bottom: 15px;
    border-bottom: dotted 1px;
}

cite {
	display: block;
    border-top: auto;
    padding-top: 1px;
    text-align: right;
    font-size: small;
}