
#logo-box {
    margin: auto;
    width: 200px;
}

header {
    margin: auto;
    background-color: beige;
    padding: 15px
}

nav {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 15px;
}

a {
    margin: 1rem;
}
